@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-secondary bg-secondary text-base text-primary;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-primary;
  }
  .h1 {
    @apply text-[64px] leading-none xl:text-[72px] xl:leading-[76px];
  }
  .h2 {
    @apply text-[48px] leading-[54px];
  }
  .h3 {
    @apply text-[36px] leading-[48px];
  }
  .h4 {
    @apply text-xl;
  }
  .lead {
    @apply text-lg mb-8;
  }
  a {
    @apply font-primary;
  }
}

.input,
.textarea {
  @apply outline-none ring-1 ring-accent/80 focus:ring-1 focus:ring-accent font-primary text-sm uppercase placeholder:text-primary text-primary;
}

/* @layer components {
  .ixia {
    @apply relative w-[20px] h-[20px] bg-transparent;
  }

  .ixia .petal {
    @apply absolute w-[10px] h-[16px] bg-[#FBA5D1] rounded-full;
    top: 0;
    left: 0;
    transform-origin: center bottom;
  }

  .ixia .petal01 {
    @apply rotate-0;
  }

  .ixia .petal02 {
    transform: rotate(60deg);
  }

  .ixia .petal03 {
    transform: rotate(120deg);
  }

  .ixia .petal04 {
    transform: rotate(180deg);
  }

  .ixia .petal05 {
    transform: rotate(240deg);
  }

  .ixia .petal06 {
    transform: rotate(300deg);
  }
} */
